{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/sito.css' %}">
    <title>Pinto</title>
</head>
<body>
<div class="topnav">
    <a id="logo" href="/"><img src="/static/sito/logosito.png" onmouseover="this.src='/static/sito/logosito2.png';" onmouseout="this.src='/static/sito/logosito.png';"/></a>
    <a {% if "/" == request.path %}class="active" id="topnav-attivo"{% endif %} href="/">Home</a>
    <a {% if "/python/" in request.path %}class="active" id="topnav-attivo"{% endif %} href="{% url 'python_introduzione' %}">Python</a>
    <a {% if "/linux/" in request.path %}class="active" id="topnav-attivo"{% endif %} href="{% url 'linux_introduzione' %}">Linux</a>
    <a {% if "/raspberrypi/" in request.path %}class="active" id="topnav-attivo"{% endif %} href="{% url 'raspberrypi_introduzione' %}">Raspberry Pi</a>
</div>

{% block sidebar %}
{% block content %}{% endblock %}
{% endblock %}
</body>
</html>