{% extends 'sito/base.html' %}
{% load static %}
{% block content %}
<div class="w3-main">
    <div class="w3-green">
        <div class="w3-container" id="barra-titolo">
            <h1>Sito in allestimento...</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
Questo sito contiene un corso su Python semplice e ricco di esempi di codice, partendo dalle basi fino
ad argomenti più avanzati come data science, machine learning, domotica e robotica.
E' rivolto a chi è completamente nuovo al mondo della programmazione ma anche a chi ha esperienza con
altri linguaggi e si avvicina a Python, inoltre i numerosi esempi sono un'utile risorsa quando ci
serve qualcosa che non ci ricordiamo, situazione normale in un contesto complesso e articolato come
la programmazione.
<br>
Più avanti la sezione Raspberry Pi verrà aggiornata con diversi tipi di progetti, dalla lettura di
valori dei sensori, al controllo di motori elettrici, le lampade di casa o il termostato.
        </p>
        <br>
<div align="center">
<p>
<a href="mailto:stepnt@protonmail.com?subject=Info sito">
    <img width="75vw" style="padding-left:20px; padding-right:20px" src="/static/sito/mail.png" onmouseover="this.src='/static/sito/mail2.png';" onmouseout="this.src='/static/sito/mail.png';"/>
</a>
Per info, critiche o suggerimenti <a href="mailto:stepnt@protonmail.com?subject=Info sito">scrivimi!</a>
</p>
<br><br>
</div>
        <div style="padding-left: 130px; padding-right: 130px; line-height: 14px" align="center">
        <i style="font-size:12px">
Questo è il mio contributo al web da cui ho ottenuto moltissimo, sentitevi liberi di copiare,
modificare, divulgare, stampare e fare ciò che preferite con i contenuti, per quanto riguarda le
immagini vi invito prima a verificarne il copyright.
        </i>
        </div>
    </div>
</div>
{% endblock %}