{% extends 'sito/base.html' %}

{% block content %}
<div class="w3-main">
    <div class="w3-green">
        <div class="w3-container" id="barra-titolo">
            <h1>Sito in allestimento...</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
In questo sito ci occuperemo di Python come linguaggio di programmazione con l'obiettivo di creare nell'utente le basi affinché possa portare a termine progetti di programmazione, domotica, robotica, algoritmi di riconoscimento oggetti e testo, creazione di modelli predittivi applicabili, ad esempio, nel trading finanziario o per scopi statistici... e molto altro!<br>
Non è richiesta alcuna conoscenza, saranno sufficienti interesse e curiosità, ogni tema verrà presentato dalle basi ed arricchito da link a documentazione esterna, per chi volesse approfondire un determinato argomento.<br>
Una discreta conoscenza dell'inglese non è richiesta ma è consigliata in quanto è dominante nel mondo dell'informatica e della programmazione e molta documentazione su internet, in particolare su argomenti particolarmente nuovi come le ultime frontiere della programmazione, è solamente in inglese.<br>
Per affrontare argomenti come domotica e robotica ci serviremo di un computer single-board, il famoso Raspberry Pi, eccellente in termini di costi, consumi e prestazioni.<br>
Sul Raspberry Pi installeremo Raspbian, un sistema operativo della famiglia Linux, derivato da Debian e creato apposta per questo dispositivo.<br>
Per questa ragione affronteremo anche i temi Linux e Raspberry Pi, una volta appresi i concetti fondamentali avrete gli strumenti per realizzare pressoché ogni sorta di progetto, macchina o dispositivo e se anche vi troverete nella posizione di dover approfondire un argomento specifico al progetto su cui state lavorando, avrete le basi per poterlo fare.
<br>

        </p>
    </div>
</div>
{% endblock %}