{% extends 'sito/linux_sidebar.html' %}
{% load static %}
{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Introduzione</h1>
        </div>
    </div>

    <div class="w3-container">
<p>
Ci sono diversi motivi per cui usare un sistema operativo Linux. Di seguito ne vedremo alcuni dei più importanti:
</p>
<div id="introduzione">
<p class="titolo-immagine"><strong>Sicurezza</strong></p>
<a href="#introduzione" class="pop">
<img class="image-right" src="{% static 'sito/cyber_security.png' %}" align="right">
</a>
<p>
E' il modo migliore per evitare problemi legati a virus e malware. I programmi che andremo a installare o scaricare da internet non potranno danneggiare il sistema a meno che l'utente abbia eseguito l'accesso come amministratore. Ovviamente la maggior parte degli utenti di Linux, proprio per sfruttare questo suo aspetto, non utilizzano il computer con i privilegi di amministratore ma creano un account utente secondario con privilegi limitati, in questo modo anche se dovessero scaricare ed avviare un malware, questo danneggerebbe solo i file e programmi dell'utente senza influire sull'integrità del sistema, inoltre è possibile scaricare un antivirus per potenziare ulteriormente la sicurezza, il più noto è sicuramente <a href="https://www.clamav.net/">ClamAV</a>.
<br>
Un'altra ragione per cui Linux può vantare un alto livello di sicurezza risiede nel fatto che è open source, significa che i sorgenti del sistema operativo sono pubblici e possono essere letti da chiunque, in questo modo negli anni si è formata un'enorme comunità da tutto il mondo che ne ha migliorato il codice, correggendone le falle.
</p>
</div>
<div id="stabilità">
<p class="titolo-immagine"><strong>Stabilità</strong></p>
<a href="#stabilità" class="pop">
<img class="image-left" src="{% static 'sito/linux_stabilità.jpg' %}" align="left">
</a>
<p>
Linux è un sistema operativo molto stabile, necessita raramente un riavvio e risulta veloce come appena installato anche dopo anni di utilizzo. Molti di noi hanno esperienza con Windows e si sono sicuramente accorti che il sistema operativo diventa più lento dopo qualche mese di utilizzo, spesso si blocca forzandoci a riavviare o formattare e reinstallare nel peggiore dei casi, questo con Linux non accade.
<br>
    Consideriamo le seguenti statistiche di <a href="https://www.alexa.com/" target="_blank">Alexa</a> del 2015, su un campione di un milione tra i più importanti web server, Linux è installato sul 96.3%, Windows sull'1.9% e freeBSD sul rimanente 1.8%.
<br>
    Lo stesso studio dimostra che dei 25 siti più importanti solo 2 non usano Linux e sono Live e Bing, server che appartengono a Microsoft. Ogni altro servizio, da Yahoo, Twitter ed eBay, si affida a Linux (fonte: <a href="https://www.zdnet.com/article/can-the-internet-exist-without-linux/" target="_blank">zdnet</a>).
</p>
</div>
<div id="manutenzione">
<p class="titolo-immagine"><strong>Facilità di manutenzione</strong>
<a href="#manutenzione" class="pop">
<img class="image-right" src="{% static 'sito/update_linux.jpg' %}" align="right">
</a>
</p>
<p>
Mantenere Linux è semplicissimo in quanto comprende un software centrale per la gestione degli aggiornamenti relativi sia al sistema operativo che a tutti i programmi installati, nel caso fossero disponibili nuove versioni. Grazie a questo tenere il sistema aggiornato e sicuro è questione di un paio di clic ed è una procedura che può essere completamente automatizzata.
</p>
</div>
<div id="facile">
<p class="titolo-immagine"><strong>Facilità di utilizzo</strong></p>
<a href="#facile" class="pop">
<img class="image-left" src="{% static 'sito/easy_linux.png' %}" align="left">
</a>
<p>
A dispetto della fama che Linux ha guadagnato negli anni come "sistema operativo per smanettoni", oggi è diventato molto semplice da usare, in particolare le distribuzioni più utilizzate, come Ubuntu, Manjaro o Mint.
<br>
I programmi più utilizzati hanno delle semplici interfacce grafiche che ci permettono di continuare a lavorare sul computer come abbiamo sempre fatto senza nemmeno conoscere un comando di Linux.
<br>
In caso usiamo programmi che funzionano solo su Windows, possiamo installare wine (Windows Emulator) ed eseguire le nostre applicazioni anche su Linux, o in alternativa installare sia Windows che Linux sul nostro computer, in dual boot, così da decidere quale sistema operativo far partire ad ogni avvio. Linux sta inoltre facendo passi avanti nel settore dei videogiochi, ora è possibile installare la famosa piattaforma Steam o il programma PlayOnLinux che ci permette di giocare ai titoli di Windows.
</p>
</div>
<div id="portabilità">
<p class="titolo-immagine"><strong>Portabilità</strong></p>
<a href="#portabilità" class="pop">
<img class="image-right" src="{% static 'sito/portability.png' %}" align="right">
</a>
<p>
Per portabilità in questo caso si intende la compatibilità di Linux con varie piattaforme e configurazioni hardware, ad esempio computer portatili piuttosto che grossi server, lettori ebook, smartphone e tablet. Linux può essere installato praticamente su ogni piattaforma ed in realtà è già così per la maggior parte dei dispositivi elettronici che abbiamo in casa, gli stessi Android e prodotti Apple sono basati su versioni di Linux modificate ad hoc.
<br>
Sappiamo benissimo come col passare degli anni Windows abbia richiesto computer sempre più potenti per poter girare dignitosamente ed i vecchi sistemi operativi della famiglia Windows, poniamo XP per esempio, non sono più supportati, questo significa che non vengono più rilasciati aggiornamenti legati alla sicurezza ed il sistema diventa obsoleto e vulnerabile. Questo problema non si pone con Linux perché possiamo configurarlo a tal punto da farlo girare su vecchi computer o Raspberry Pi senza sacrificare in sicurezza. Questa flessibilità ci permette una configurazione in fase di installazione al fine di avere un sistema operativo <i>pennellato</i> sui nostri componenti hardware.
</p>
</div>
<div id="personalizzazione">
<p class="titolo-immagine"><strong>Personalizzazione</strong>
<a href="#personalizzazione" class="pop">
<img class="image-left" src="{% static 'sito/linux_personalizzazione.png' %}" align="left">
</a>
</p>
<p>
Linux è estremamente personalizzabile, a partire dalla scelta dei componenti da installare fino alla personalizzazione dell'interfaccia grafica. Un particolare riguardo i sistemi operativi Linux è la possibilità di scegliere quali ambienti grafici (desktop environment) installare ed utilizzare. Un desktop environment è l'interfaccia grafica che ci permette di interagire con Linux, ce ne sono di più veloci adatti anche a vecchi computer (per esempio XFCE o LXDE) o più avanzati, moderni ma esigenti in termini di risorse hardware (per esempio Gnome e KDE).
</p>
</div>
<div id="free">
<p class="titolo-immagine"><strong>Free e open source</strong>
<a href="#free" class="pop">
<img class="image-right" src="{% static 'sito/free.jpg' %}" align="right">
</a>
</p>
<p>
Un'importante considerazione va fatta in ambito aziendale ed è tanto più valida quanto più è grosso e importante il parco macchine. Ipotizziamo di dover scegliere il sistema operativo da installare su una trentina di computer per una nuova azienda, ci rendiamo conto del risparmio per altrettante licenze Windows, antivirus e quant'altro.
<br>
Anche la gran parte del software che è possibile installare è free, soprattutto per uso privato.
<br>
Abbiamo già accennato al motivo per cui il software open source sia qualitativamente superiore e più sicuro.
</p>
</div>
<div id="supporto">
<p class="titolo-immagine"><strong>Supporto</strong>
<a href="#supporto" class="pop">
<img class="image-left" src="{% static 'sito/support.jpg' %}" align="left">
</a>
</p>
<p>
La comunità di Linux è diventata gigantesca, in particolare per le distribuzioni più famose di Linux come Ubuntu, che consiglio per chi è nuovo a questo sistema operativo. Internet brulica di forum e documentazione ed un aspetto interessante riguardo Linux è la possibilità di eseguire praticamente ogni operazione, grazie ad un comando o una serie di comandi, di conseguenza possiamo automatizzare operazioni che finora abbiamo fatto manualmente.
</p>
</div>
<div id="raspbian">
<p class="titolo-immagine"><strong>Raspbian</strong>
<a href="#raspbian" class="pop">
<img class="image-right" src="{% static 'sito/raspbian.jpg' %}" align="right">
</a>
</p>
<p>
Abbiamo già parlato della compatibilità di Linux con diverse piattaforme, qui entra in gioco il Raspberry Pi. Una volta acquisita confidenza con Linux e Python saremo in grado di programmare il nostro Raspberry per farne praticamente qualunque cosa, da un piccolo media server, a videosorveglianza, domotica, robotica e molto altro! Tratteremo differenti progetti in questo sito.
</p>
</div>
<br><br>
<div style="text-align: center; line-height: 1.3em; font-size: 14px">
    <a href="#">Torna a inizio pagina</a>
</div>
</div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
        <img src="" class="imagepreview" style="width: 100%;">
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
          $('.pop').on('click', function() {
              $('.imagepreview').attr('src', $(this).find('img').attr('src'));
              $('#imagemodal').modal('show');
          });
  });
</script>
{% endblock %}