{% extends 'sito/base.html' %}

{% block sidebar %}
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:165px" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Chiudi &times;</button>
    <a href="{% url 'linux_introduzione' %}" class="w3-bar-item w3-button" {% if "/linux/introduzione/" == request.path %}id="attivo"{% endif %}>Introduzione</a>
    <a href="{% url 'linux_introduzione' %}" class="w3-bar-item w3-button" {% if "/linux/distribuzioni/" == request.path %}id="attivo"{% endif %}>Distribuzioni</a>
</div>

{% block content%}{% endblock %}

<script>
function w3_open() {
document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
document.getElementById("mySidebar").style.display = "none";
}
</script>
{% endblock %}