{% extends 'sito/python_sidebar.html' %}

{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Tuple</h1>
        </div>
    </div>

    <div class="w3-container">
<pre>
tupla = ('sono', 'una', 'tupla')
</pre>
<p>
<strong>Definizione:</strong> una tupla è una lista immutabile.<br><br>
Le tuple hanno molti contesti di utilizzo, in primo luogo sono più veloci delle liste. Inoltre è buona norma usarle quando abbiamo la certezza che i nostri dati non devono cambiare in quanto, essendo immutabili, non potremo modificarle nemmeno per sbaglio.<br>
Vediamo come funzionano:
</p>
<pre>
>>> tupla = ('le', 'tuple', 'sono', 'immutabili')
>>> tupla[2]
'sono'
>>> tupla[-1]
'immutabili'
>>> tupla[1:4]
('tuple', 'sono', 'immutabili')
</pre>
<p>
Come vediamo, i metodi di affettamento e indicizzazione funzionano anche con le tuple. Proviamo ora a modificarla:
</p>
<pre>
>>> tupla[0] = 'modifica'
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
TypeError: 'tuple' object does not support item assignment
</pre>
<p>
Python è chiarissimo: la nostra <code>'tuple'</code> non supporta l'assegnazione, quindi non può essere modificata.<br>
Proviamo a modificarla in maniera diversa:
</p>
<pre>
>>> tupla = ('prova', 'modifica')
>>> tupla
('prova', 'modifica')
</pre>
<p>
Può sembrare che abbiamo modificato la tupla ma se osserviamo bene in realtà non è rimasta
traccia della precedente <code>('le', 'tuple', 'sono', 'immutabili')</code>, ne abbiamo semplicemente creata una nuova, andando a sovrascrivere la precedente.
<br>
Nel prossimo capitolo vedremo gli operatori logici.
</p>
<br><br>
    <div style="text-align: center; line-height: 1.3em; font-size: 14px">
        <a href="#">Torna a inizio pagina</a><br>
        <a href="{% url 'python_liste' %}">Capitolo precedente: Liste</a><br>
        <a href="{% url 'python_operatori' %}">Capitolo successivo: Operatori</a><br>
    </div>
</p>
</div>
</div>
{% endblock %}