{% extends 'sito/python_sidebar.html' %}

{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Variabili</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
Iniziamo a farci un'idea di cosa sono e come funzionano le variabili in Python.<br>
Dichiariamo una variabile di nome <code>x</code> e assegnamole un valore di 10. Per questo esempio abbiamo usato il nome <code>x</code> ma avremmo potuto usare qualunque nome, una convenzione che si usa nella scelta dei nomi delle variabili è che sia esplicativo rispetto alla funzione della variabile stessa, ad esempio in questo caso avremmo potuto chiamare la variabile <code>numero</code> in quanto le assegnamo un valore numerico, comunque teniamo <code>x</code> e andiamo avanti:
        </p>
        <pre>
>>> x = 10
</pre>
        <p>
<strong>Definizione:</strong> una variabile in informatica è un contenitore di dati situato in una porzione di memoria destinata a contenere valori, suscettibili di modifica nel corso dell'esecuzione di un programma. Una variabile è caratterizzata da un nome.<br>
<br>
E' esattamente quello che abbiamo fatto qui sopra, abbiamo scelto il nome <code>x</code> e le abbiamo fatto contenere un dato numerico.
<br>
Vediamo la nostra <code>x</code>, fintanto che usiamo la shell interattiva non sarà necessario usare <code>print()</code>.
</p>
<pre>
>>> x
10
</pre>
        <p>
            Ora, per curiosità, proviamo a vedere di che tipo è la variabile x che abbiamo appena creato, noi abbiamo indicato solo un valore (10) ma non abbiamo specificato se fosse un intero, una stringa di testo o un altro tipo di dato. Per visualizzare il tipo di dato sarà sufficiente usare la funzione <code>type()</code> già presente in Python:
        </p>
        <pre>
>>> type(x)
&lt;class 'int'&gt;</pre>
        <p>
Abbiamo chiesto a Python che tipo di dato è la variabile <code>x</code> e abbiamo ottenuto come risultato
<code>class 'int'</code>, cioè una classe di tipo int (intero), tralasciamo per ora il concetto di classe
che tratteremo più avanti, chiaramente Python ci suggerisce che <code>x</code> è un numero intero.
Potrebbe sembrare un comportamento normale ma in altri linguaggi di programmazione la semplice dichiarazione e inizializzazione di una variabile non è così immediata, richiede una maggiore quantità di righe di codice, che di conseguenza si traduce in più errori e maggiore difficoltà di manutenzione e lettura dell'intero codice.
Ma andiamo avanti, proviamo a fregare Python!
        </p>
        <pre>
>>> x = x + 0.25</pre>
        <p>
Qui stiamo chiedendo a Python di aggiornare la variabile <code>x</code> e di farla diventare uguale a <code>x</code> + 0.25.
Visualizziamo la variabile <code>x</code>:
        </p>
        <pre>
>>> x
10.25</pre>
        <p>
Ma come? Era un intero, ora ha la virgola! Verifichiamo il tipo di <code>x</code>:
        </p>
        <pre>
>>> type(x)
&lt;class 'float'&gt;</pre>
        <p>
Ci ha fregati Python, la variabile <code>x</code> è diventata un float, cioè un numero a virgola mobile. Giochiamo ancora un pò con le variabili:
        </p>
        <pre>
>>> x = 'ciao mondo!'
>>> x
ciao mondo!</pre>
        <p>
Come abbiamo creato una variabile numerica, l'abbiamo modificata in una di tipo testuale, vediamo di che tipo:
        </p>
        <pre>
>>> type(x)
&lt;class 'str'&gt;</pre>
        <p>
Ora è di tipo <code>'str'</code>, cioè stringa. Questa flessibilità non è una cosa comune a tutti i linguaggi di programmazione
ma è un'arma a doppio taglio, da un lato ci permette di lavorare su diversi tipi di dati senza preoccuparci di scomode dichiarazioni e
conversioni, dall'altro ci mette in una posizione in cui dobbiamo controllare i dati che vengono inseriti, per esempio poniamo di
lavorare sul software di contabilità di un'azienda, dovremmo preoccuparci che non vengano inserite lettere o simboli quando ci aspettiamo
degli importi, per evitare problemi di funzionamento del programma stesso o persino di corrompere i dati presenti nel sistema.<br>
Vediamo un ultimo tipo, si chiamano variabili booleane e possono contenere solo due valori, vero o falso:
        </p>
        <pre>
>>> x = True
>>> x
True
>>> type(x)
&lt;class 'bool'&gt;
>>> x = False
>>> x
False
</pre>
        <p>
Proviamo qualcosa di un pò più complesso sempre con le variabili booleane, di seguito assegnamo ad <code>x</code> il risultato
di una comparazione, nello specifico chiediamo se 12 è maggiore di 2:</p>
        <pre>
>>> x = 12 > 2
>>> x
True
</pre>
<p>
Ora abbiamo una panoramica chiara del concetto di variabile e dei diversi tipi, nel prossimo capitolo vedremo approfondiremo le stringhe
a cui abbiamo accennato poco sopra.
<br><br>
            <div style="text-align: center; line-height: 1.3em; font-size: 14px">
                <a href="#">Torna a inizio pagina</a><br>
                <a href="{% url 'python_script' %}">Capitolo precedente: Script Python</a><br>
                <a href="{% url 'python_stringhe' %}">Capitolo successivo: Stringhe</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}