{% extends 'sito/python_sidebar.html' %}

{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Script Python</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
Apriamo l'editor di testo (PyCharm, Notepad++, Sublime text o quello che preferite) e scriviamo l'avanzatissimo programma che abbiamo visto nel capitolo precedente:
</p>
<pre>
print('Hello, world!')
</pre>
<p>
Salviamolo con estensione <code>.py</code>, ad esempio <code>prova.py</code>, questa è l'estensione che indica al sistema che il file in questione è uno script Python.
Aprite la riga di comando e spostatevi dove avete salvato il programma, in Windows un comodo trucchetto è di tenere premuto maiuscolo e
cliccare il tasto destro dove avete salvato il file <code>.py</code>, in questo modo nel menù a tendina compare la voce <i>Apri la finestra di comando qui</i> che
apre il prompt direttamente in quella cartella, altrimenti spostiamoci tra le cartelle di sistema con il comando <code>cd</code> ed eseguiamo il nostro programma:
<br><br>
<strong>Windows</strong>
</p>
<pre>
python prova.py
Hello, world!
</pre>
<p>
<strong>Linux/Mac</strong>
</p>
<pre>
python3 prova.py
Hello, world!
</pre>
<p>
Ecco fatto, il nostro programma è già pronto ad essere eseguito senza la necessità di compilarlo e funziona su ogni piattaforma su cui sia
installato Python.
            <br><br>
            <div style="text-align: center; line-height: 1.3em; font-size: 14px">
                <a href="#">Torna a inizio pagina</a><br>
                <a href="{% url 'python_shell' %}">Capitolo precedente: Shell interattiva</a><br>
                <a href="{% url 'python_variabili' %}">Capitolo successivo: Variabili</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}