{% extends 'sito/python_sidebar.html' %}

{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Introduzione</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
Python è un linguaggio di programmazione che sta diventando sempre più
popolare in diversi contesti e per valide ragioni.
Il motivo principale del suo successo è senza dubbio la semplicità
della sintassi in quanto ci permette di scrivere meno codice ed è più
leggibile rispetto ad altri linguaggi di programmazione, questo ci porta
a commettere meno errori e ci semplifica le future revisioni dei
programmi che andremo a realizzare.<br>
Inoltre permette diversi tipi di approci, è molto flessibile e compatibile
con la maggior parte delle piattaforme, comprende una solida libreria che
ci permette di lavorare su problemi diversi utilizzando moduli pronti all'uso.<br>
Ci sono altre motivazioni per cui scegliere Python ma li scopriremo strada facendo,
ora installiamolo e iniziamo ad usarlo ;)
<br><br>
            <div style="text-align: center; line-height: 1.3em; font-size: 14px">
                <a href="#">Torna a inizio pagina</a><br>
                <a href="{% url 'python_installazione' %}">Capitolo successivo: Installazione</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}