{% extends 'sito/python_sidebar.html' %}

{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Liste</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
In questo capitolo vedremo le liste, iniziamo come al solito a crearne una nella shell:
</p>
<pre>
>>> città = ['Milano', 'Napoli', 'Torino', 'Roma', 'Palermo']
</pre>
<p>
Vediamo la lista di città ed il tipo:
</p>
<pre>
>>> città
['Milano', 'Napoli', 'Torino', 'Roma', 'Palermo']
>>> type(città)
&lt;class 'list'&gt;
</pre>
<p>
Python ovviamente ci suggerisce che questa è una lista ma se osserviamo bene non è altro che una lista di stringhe. Proviamo ad accedere ai vari elementi della lista tramite l'indice, come abbiamo fatto con le stringhe, per vedere di che tipo è l'elemento <code>Napoli</code>, per esempio:
</p>
<pre>
>>> type(città[1])
&lt;class 'str'&gt;
</pre>
<p>
Infatti ci dice che è una stringa. Ma una lista può contenere solo stringhe?
</p>
<pre>
>>> città_numeri = ['Roma', 512, 'Catania', 'Milano', -12.6, 0]
>>> città_numeri
['Roma', 512, 'Catania', 'Milano', -12.6, 0]
>>> type(città_numeri)
&lt;class 'list'&gt;
</pre>
<p>
Abbiamo creato un'altra lista ma stavolta contenente stringhe, numeri positivi, negativi, interi e non, quindi una lista può contenere diversi tipi di dati.
<br><br>
<strong>Definizione:</strong> Una lista è un insieme ordinato di diversi tipi di dati. Ora vediamo se possiamo usare i metodi utilizzati in precedenza sulle stringhe anche sulle liste:
</p>
<pre>
>>> città_numeri[2]
Catania
>>> città_numeri[-1]
0
>>> città_numeri[3:]
['Milano', -12.6, 0]
>>> len(città_numeri)
6
</pre>
<p>
Questo è un altro esempio di flessibilità di Python, abbiamo usato il metodo di affettamento sia sulle liste che sulle stringhe. A proposito di flessibilità, cosa succede se proviamo a costruire una <i>lista di liste</i>? Proviamo a crearne una di esempio su cui fare qualche prova:
</p>
<pre id="shell">
>>> persona = [['Mario', 'Rossi'], ['Corso Garibaldi, 21', 'Milano', 10100], ['Celibe', 'Impiegato']]
>>> persona
[['Mario', 'Rossi'], ['Corso Garibaldi, 21', 'Milano', 10100], ['Celibe', 'Impiegato']]
</pre>
<p>
La lista <code>persona</code> che abbiamo appena creato contiene a sua volta delle liste, avremmo ottenuto la stessa struttura di dati dichiarandola come segue:
</p>
<pre>
>>> persona = [['Mario', 'Rossi'],
...            ['Corso Garibaldi, 21', 'Milano', 10100],
...            ['Celibe', 'Impiegato']]
</pre>
<p>
Così è più facile realizzare che abbiamo appena creato una <strong>matrice</strong>, cioè una tabella da tre righe contenenti a loro volta due o più elementi, una struttura dati di questo tipo:
</p>
<table class="table table-responsive-sm table-dark">
    <thead>
    <tr>
        <th scope="col">Indice</th>
        <th scope="col">0</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0</td>
        <td>Mario</td>
        <td>Rossi</td>
        <td></td>
    </tr>
    <tr>
        <td>1</td>
        <td>Corso Garibaldi, 21</td>
        <td>Milano</td>
        <td>10100</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Celibe</td>
        <td>Impiegato</td>
        <td></td>
    </tr>
    </tbody>
</table>
<p>
L'impatto delle matrici nei più svariati ambiti dell'informatica è enorme, basti pensare che tutte le immagini digitali non sono altro che matrici contenenti numeri per indicare il colore di ogni pixel. Inoltre ogniqualvolta si ha a che fare con una grossa quantità di dati, al fine dell'analisi o della visualizzazione in grafi o tabelle, sarà necessario raccoglierli e organizzarli dentro a delle matrici. Ora vediamo come accedere ai vari elementi:
</p>
<pre>
>>> persona[0]
['Mario', 'Rossi']
>>> persona[0:]
[['Mario', 'Rossi'], ['Corso Garibaldi, 21', 'Milano', 10100], ['Celibe', 'Impiegato']]
>>> persona[0][0]
Mario
>>> persona[0][1]
Rossi
>>> persona[1][0]
Corso Garibaldi, 21
>>> persona[2][1]
Impiegato
>>>
</pre>
<p>
Prendiamo come riferimento la tabella poco sopra che rappresenta la nostra matrice e l'ultima riga, <code>persona[2][1]</code>, stiamo chiedendo a Python di mostrarci l'elemento della riga 2 e colonna 1. Che succede invece se richiediamo un elemento che non c'è? Proviamo!
</p>
<pre>
>>> persona[2][3]
Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
IndexError: list index out of range
>>>
</pre>
<p>
L'ultima riga parla chiaro, Python ci dice che c'è un errore di indice e che l'indice della lista è fuori dal range.<br>
Vedremo più avanti come gestire gli errori, per intanto si rende utile il metodo <code>len()</code> che abbiamo usato prima sia sulle liste che sulle stringhe, che ci permette di accedere a tutti gli elementi senza ottenere errori di questo tipo.
<br>
Adesso vediamo alcuni importanti metodi per manipolare le liste, iniziando da <code>append()</code> che, come suggerisce la parola stessa,
ci permette di aggiungere elementi in fondo alla lista:
</p>
<pre>
>>> persona = ['Mario, 'Rossi']
>>> persona.append('Tecnico')
>>> persona
['Mario', 'Rossi', 'Tecnico']
</pre>
<p>
Il metodo <code>pop(i)</code> ci restituisce il valore della lista all'indice <code>i</code> dopodiché lo elimina, vediamolo all'opera
con la lista appena creata:
</p>
<pre>
>>> persona.pop(2)
'Tecnico'
>>> persona
['Mario, 'Rossi']
</pre>
<p>
Ha restituito <code>Tecnico</code> che era l'elemento 2 della lista e l'ha eliminato, come ci aspettavamo. Il metodo <code>pop()</code> può essere
utilizzato senza argomenti, in questo caso restituisce ed elimina l'ultimo elemento della lista:
</p>
<pre>
>>> persona.pop()
'Rossi'
>>> persona
['Mario']
</pre>
<p>
Il metodo <code>extend()</code> ci torna utile quando vogliamo aggiungere più elementi alla nostra lista, se utilizziamo <code>append()</code>
come fatto in precedenza, viene creata una sottolista all'interno della lista principale e non è sempre il comportamento desiderato, facciamo
qualche esempio per essere più chiari:
</p>
<pre>
>>> lista_1 = ['Mario', 'Rossi']
>>> lista_2 = ['Impiegato', 32]
>>> lista_1.append(lista_2)
>>> lista_1
['Mario', 'Rossi', ['Impiegato', 32]]
</pre>
<p>
Ora che abbiamo visto il comportamento di <code>append()</code> quando si aggiungono più elementi, vediamo invece <code>extend()</code>:
</p>
<pre>
>>> lista_1 = ['Mario', 'Rossi']
>>> lista_2 = ['Impiegato', 32]
>>> lista_1.extend(lista_2)
>>> lista_1
['Mario', 'Rossi', 'Impiegato', 32]
</pre>
<p>
E ancora cosa succede se usiamo semplicemente il <code>+</code>:
</p>
<pre>
>>> lista_1 = ['Mario', 'Rossi']
>>> lista_2 = ['Impiegato', 32]
>>> lista_1 + lista_2
['Mario', 'Rossi', 'Impiegato', 32]
</pre>
<p>
Infine vediamo il metodo <code>remove()</code> che ci permette di eliminare un elemento dalla lista specificandone
il valore:
</p>
<pre>
>>> persona = ['Mario', 'Rossi', 'Impiegato']
>>> persona.remove('Rossi')
>>> persona
['Mario', 'Impiegato']
</pre>
<p>
Vedremo ancora i metodi delle liste affrontati fin qui, applicati su diversi tipi di dati, in particolare nel prossimo capitolo
ci occuperemo delle tuple.
<br><br>
            <div style="text-align: center; line-height: 1.3em; font-size: 14px">
                <a href="#">Torna a inizio pagina</a><br>
                <a href="{% url 'python_stringhe' %}">Capitolo precedente: Stringhe</a><br>
                <a href="{% url 'python_tuple' %}">Capitolo successivo: Tuple</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}