{% extends 'sito/raspberrypi_sidebar.html' %}
{% load staticfiles %}
{% block content %}
<div class="w3-main" style="margin-left:165px">
    <div class="w3-green">
        <button class="w3-button w3-green w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container" id="barra-titolo">
            <h1>Introduzione</h1>
        </div>
    </div>

    <div class="w3-container">
        <p>
            <img class="image-right" src="{% static 'sito/raspberry_pi.jpg' %}" align="right">
            Il Raspberry Pi è un single-board computer, cioè un computer su una singola scheda. E' molto contenuto come dimensioni, costi e consumi ma estremamente potente e versatile, permette l'installazione di diversi sistemi operativi, la riproduzione di video in alta definizione (fino a 1080p), la navigazione sul web e tutto ciò che si può fare con un computer, in realtà vedremo che ci si può fare anche di più! Se le prestazioni di questo piccolo computer ci possono sembrare mediocri, consideriamo il rapporto qualità/prezzo ed il fatto che si possono assemblare cluster con più Raspberry Pi, detti nodi, per creare un'unica macchina.
            <br>
            Ci sono diverse versioni di questo dispositivo, a partire da pochi euro con dimensioni pari a una chiavetta usb (Raspberry Pi Zero) fino ai più potenti, sui 30 €, con wireless integrato, scheda di rete ethernet, 4 porte usb, uscita hdmi per video in alta definizione e molto altro, il tutto racchiuso in una scheda grossa come un pacchetto di sigarette. In base ai progetti che andremo a realizzare sarà consigliabile utilizzare una versione piuttosto che l'altra.
            <br>
            Un'altra caratteristica molto importante del Raspberry Pi è la serie di pin GPIO. I pin (o piedini) nel campo dell'elettronica sono delle terminazioni metalliche che fungono da contatti elettrici. A questi pin è possibile collegare di tutto, da display lcd touch, sensori, telecamere, motori elettrici e persino controllare l'illuminazione di casa piuttosto che il termostato, grazie a dei componenti elettrici come i relay che vedremo più avanti.
            <br><br>
            <div style="text-align: center; line-height: 1.3em; font-size: 14px">
                <a href="#">Torna a inizio pagina</a><br><!--
                <a href="{% url 'python_installazione' %}">Capitolo successivo: Installazione</a>
                -->
            </div>
        </p>
    </div>
</div>
{% endblock %}